# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
.venv/
venv/
ENV/
env/

# Pytest / Cache / Coverage
.pytest_cache/
.coverage
htmlcov/
.cache/
.ruff_cache/

# Build & Dist
build/
dist/

# Local configuration
.vscode/

# Generated output files
output/
